<html>
<head>
  <title>
    Chef Client Welcome Page
  </title>
</head>

<body>
  <h1>Chef Client Welcome Page</h1>
  <br><br>
  This client machine was configured by Chef as a test of the centroid_httpd cookbook.
  <br><br>
  For use by Centroid.
</body>

</html>
